.bannar {
  background-image: url(./travel-guru//images/Rectangle\ 1.png),  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-bannar {
  background-image: url(./travel-guru//images//Rectangle\ 1.png),linear-gradient(transparent,rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}